<div class="bg-message-content"></div>


<div *ngFor="let chat of conversation">

  <div *ngIf="username == chat.from; else anotherUser">
    <div class="float-right mx-5 box-me sb1 mat-elevation-z2">
      hola chabon
    </div>
  </div>

  <br>

  <ng-template #anotherUser>
    <div class="w-100">
      <div class="float-left mx-5 box sb2 mat-elevation-z2">
        {{ chat.message }}
      </div>
    </div>
  </ng-template>
</div>

<div id="message-container" class="p-3">
  <div class="emoji-content"></div>
  <textarea placeholder="Escribe un mensaje aquí"></textarea>
</div>
