@import "styles/_palette.scss";

#group-container {
  width: 20rem;
  .group-card {
    cursor: pointer;
    height: 72px;
    max-width: 375px;
    .title {
      margin-left: 25%;
      font-size: 1.2rem;
    }
    .description {
      display: flex;
      margin-left: 25%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 12px;
      color: $dim-gray;
    }
  }
}
