@import "_palette.scss";


#chat-container {
  background-color: $white-smoke;
  height: 95vh;
  padding: 0px;
}

.toggler {
  top: 0;
  z-index: 999;
  .toggler--icon {
    color: $light-sea;
  }
}


.box-me {
  min-width: 300px;
  background: $sprout;
  padding: 10px;
  text-align: left;
  color: black;
  font-family: arial;
  position: relative;
  border-radius: 5px
}

.box {
  min-width: 300px;
  background: white;
  padding: 10px;
  text-align: left;
  color: black;
  font-family: arial;
  position: relative;
  border-radius: 5px
}

.sb1:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid $sprout;
  border-right: 10px solid transparent;
  border-top: 10px solid $sprout;
  border-bottom: 10px solid transparent;
  right: -19px;
  top: 6px;
}

.sb2:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid white;
  border-top: 10px solid white;
  border-bottom: 10px solid transparent;
  left: -19px;
  top: 6px;
}

.sb3:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid $sprout;
  border-right: 10px solid transparent;
  border-top: 10px solid $sprout;
  border-bottom: 10px solid transparent;
  left: 19px;
  bottom: -19px;
}

.sb4:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid $sprout;
  border-top: 10px solid $sprout;
  border-bottom: 10px solid transparent;
  right: 19px;
  bottom: -19px;
}

#message-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $white-smoke;
  textarea {
    min-height: 50px;
    max-height: 300px;
    border-radius: 1rem;
    border-width: 0.1px;
    border-style: none;
    width: 100%;
    resize: none;
    padding-top: 15px;
    padding-left: 10px;
  }
}


.mat-drawer-content {
  background-image: url('assets/web/bg-2.png');
  height: 100%;
}
