<mat-drawer-container class="sidenav-container" autosize>

  <div class="sidenav-header"></div>

  <mat-drawer #drawer class="sidenav" mode="side" opened="true">
    <groups></groups>
  </mat-drawer>

  <mat-drawer #drawerRight position="end" class="sidenav" mode="side" opened="false">
    <contacts></contacts>
  </mat-drawer>


  <div class="sidenav-content m-0">
    <button class="position-sticky toggler" type="button" mat-raised-button (click)="drawer.toggle(); _resizeHeader()">
      <i class="fa fa-2x fa-globe toggler--icon"></i>
    </button>

    <button class="position-sticky toggler float-right" type="button" mat-raised-button (click)="drawerRight.toggle(); _resizeHeader()">
      <i class="fa fa-2x fa-users toggler--icon"></i>
    </button>

    <div class="bg-message-content"></div>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
