/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "chat.scss";
@import "_palette.scss";

body {
  background-color: $aqua-haze;
}

#color-block {
  position: absolute;
  background-color: $light-sea;
  width: 100%;
  height: 8rem;
  top: 0;
}
