<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened="true">
    <section id="group-container">

      <div class="group-card">
        <div class="text-container">
          <span class="title">#Argentina</span>
          <br>
          <span class="mt-3 description"> **´¯`*.¸¸.*´¯`*(¡¡Bienvenidos!!! Esperando pasen una excelente estadía!!! Les desea la Familia de #Lc-de_30_a_40. /nuestra radio oficial ¦€¦  Radio-¡BooM!  ¦€¦)*´¯`*.¸¸.*´</span>
        </div>
      </div>
      <hr>

      <div class="group-card">
        <div class="text-container">
          <span class="title">#Argentina</span>
          <br>
          <span class="mt-3 description"> **´¯`*.¸¸.*´¯`*(¡¡Bienvenidos!!! Esperando pasen una excelente estadía!!! Les desea la Familia de #Lc-de_30_a_40. /nuestra radio oficial ¦€¦  Radio-¡BooM!  ¦€¦)*´¯`*.¸¸.*´</span>
        </div>
      </div>
      <hr>

      <div class="group-card">
        <div class="text-container">
          <span class="title">#Argentina</span>
          <br>
          <span class="mt-3 description"> **´¯`*.¸¸.*´¯`*(¡¡Bienvenidos!!! Esperando pasen una excelente estadía!!! Les desea la Familia de #Lc-de_30_a_40. /nuestra radio oficial ¦€¦  Radio-¡BooM!  ¦€¦)*´¯`*.¸¸.*´</span>
        </div>
      </div>
      <hr>

      <div class="group-card">
        <div class="text-container">
          <span class="title">#Argentina</span>
          <br>
          <span class="mt-3 description"> **´¯`*.¸¸.*´¯`*(¡¡Bienvenidos!!! Esperando pasen una excelente estadía!!! Les desea la Familia de #Lc-de_30_a_40. /nuestra radio oficial ¦€¦  Radio-¡BooM!  ¦€¦)*´¯`*.¸¸.*´</span>
        </div>
      </div>
      <hr>
    </section>
  </mat-drawer>

  <div class="sidenav-content m-0">
    <button type="button" mat-raised-button (click)="drawer.toggle()">
      <i class="fa fa-2x fa-users toggler"></i>
    </button>
    <div class="bg-message-content"></div>

    <app-chats></app-chats>

    <div id="message-container" class="p-3">
      <div class="emoji-content"></div>
      <textarea placeholder="Escribe un mensaje aquí"></textarea>
    </div>
  </div>
</mat-drawer-container>
