<div class="chat-container">
  <div *ngFor="let chat of conversation; first as isFirst" class="px-5">
    <div *ngIf="username == chat.from; else otherUser">
      <div class="w-100 d-flex" [ngClass]="{'mt-4': isFirst}">
        <div class="float-right ml-auto box-me sb1 mat-elevation-z2">
          {{ chat.message }}
        </div>
      </div>
    </div>
    <br><br>
    <ng-template #otherUser>
      <div class="w-100 d-flex" [ngClass]="{'mt-4': isFirst}">
        <div class="float-left mr-auto box sb2 mat-elevation-z2">
          <b class="c-pointer" [routerLink]="['/chat', chat.from]">{{ chat.from }}</b><br>
          {{ chat.message }}
        </div>
      </div>
    </ng-template>
  </div>

  <button id="scroller" mat-raised-button>
    <i class="fa fa-2x fa-angle-down" aria-hidden="true"></i>
  </button>

  <div id="message-container" class="p-3 d-flex">
    <div class="emoji-content"></div>
    <textarea [(ngModel)]="message" placeholder="Escribe un mensaje aquí"></textarea>
    <button [disabled]="!message" (click)="sendMessage()" class="d-flex" id="send-message-btn">
      <i [ngClass]="{'active': message }" class="fa fa-2x fa-paper-plane-o"></i>
    </button>
  </div>

</div>
